body {
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212 !important;
  color: #ffff !important;
}
input::placeholder {
  color: black !important; /* Replace with your desired color */
  opacity: 1; /* Ensure full opacity */
}

.swiper-button-prev:after,
.swiper-button-next:after {
  padding: 10px;
  background-color: #34c94b;
  border-radius: 50%;
  font-weight: bolder;
}
.swiper-scrollbar-drag {
  display: none;
}
